langchain_community
qdrant-client
python-dotenv
ipykernel
langchain_openai
langchain
beautifulsoup4
langchain_qdrant
transformers
sentence-transformers
datasets
pypdf
langchain_experimental
langchain-ai21
PyPDF2